@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Tangerine:wght@400;700&display=swap');

:root{
    --header-height: 4rem;

    /*==========color model hsl ============*/
    /*color should be defined with theme changement strategy in mind*/

    --text-color : hsl(0, 0%, 0%);
    --text-light-color : hsl(0, 0%, 50%);
    --title-color : hsl(0, 0%, 26%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 6%, 90%);

    --white-color:hsl(0, 0%, 100%);
    --black-color:hsl(0, 0%, 0%);

    --first-color: hsl(14,98%,50%); /*website theme color*/
    --first-gradient: linear-gradient(90deg, 
                       hsl(342, 93%, 71%) 0%,
                       hsl(51, 99%, 62%) 100%);

    /*==========font details and typography==========*/

    --body-font: "Poppins", sans-serif;
    --second-font:"Montserrat", sans-serif;

    --biggest-font-size:2.5rem;
    --h1-font-size:1.75rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.125rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;

    /*=======font weight========*/

    --font-regular:400;
    --font-medium:500;
    --font-semi-bold:600;
    --font-bold:700;

    /*========z-index=========*/

    --z-tooltip: 10;
    --fixed-z-index:999;

}
@media screen and (min-width: 1150px){
    :root{
        --biggest-font-size:4.5rem;
        --h1-font-size:3rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
        --smaller-font-size:.813rem;
    }
}

/*=================basic======================*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
    transition: background-color .4s;
}
h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.container{
    max-width: 1120px;
    margin-inline:1.5rem;
}

.grid{
    display:grid;
    gap:1.5rem;
}
.section{
    padding-block:4rem 2rem;
}
.section__title-1,
.section__title-2{
    position: relative;
    font-size:var(--h1-font-size);
    /* width: max-content; */
    margin: .75rem auto;
}
.body{
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    align-content:first baseline;
    /* background-color: yellow; */
}

.header{
    /* border:1px solid green; */
    height: 8vh;
    position: fixed;
    background-color: whitesmoke;
    width: 98vw;
    /* background-color: yellow; */
}
.main{
    align-self: first baseline;
    padding-top: 8vh;
}
.footer{
  align-self: last baseline;
}
/* top header ==============================top header --- */
/* ====top header start ============================= */

.header-container{
    display: flex;
    justify-content: space-between;
    padding-block:1rem;
    padding-inline: 3rem;
}
.header-admin__detail{
    display: flex;
    column-gap: .5rem;
}
.main-nav,
.main-header,
.main-main{
    background-color: var(--container-color);
    border-radius: 1rem;
    padding: 1rem;
    /* border:2px solid brown; */
}
/* end top header menu top header ============================ */
/* ---------------------------------------------------------- */


/* main section menu side menu*********************** */
/* ------------------------------------------------- */
.main-section__container{
    /* position: relative; */
    display: grid;
    row-gap: 1rem;
}
.main-nav{
   position: relative;
   background-color: brown;
   width: 50px;
}
.main-nav__toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main-nav-close{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
    cursor: pointer;
}


.nav_blocks{
    position: absolute;
    z-index: 777;
    top: 0;
    left: -500px;
    height: 82vh;
    background-color: rgba(239, 236, 240, 0.306);
    backdrop-filter: blur(5px);
    display: grid;
    row-gap: 1rem;
    /* width: 250px; */
    align-content: first baseline;
    padding-inline:5px;
    padding-block: 1rem;
}
.show-main-menu{
    left: 0;
}

.nav__block{
    padding: .5rem;
    background-color: var(--body-color);
    border-radius: .5rem;
    width: 100%;
}

.nav__lists{
    display: grid;
    align-items: center;
    justify-items: left;
    width: fit-content;
}
.nav__list{
    display: grid;
    align-items: center;
    justify-items: left;
    width: fit-content;
}
.nav__link{
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 1rem;
}
.nav__link span:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__link span:last-child{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: rgb(9, 4, 0);
    text-align: left;
}
.nav__link:hover span{
  color:red;
}
/* side menu nav side menu ======================================= */
/* ============================================================== */
.main-header{
    padding: 1rem;

}
.main-header__container{
    display: flex;
    justify-content: space-around;
}
.main-header__block{
    padding-inline: .5rem;
    padding-block: 1rem;
    border-radius: 1rem;
}

.main-header__block:nth-child(1){
     background-color: rgba(0, 255, 255, 0.208);
}

.main-header__block:nth-child(2){
background-color: rgba(0, 0, 255, 0.208);
}

.main-header__block:nth-child(3){
background-color: rgba(0, 0, 0, 0.208);
}
/* main map ========================================= */
/* -------------------------------------------------------- */
.main-main{
  width: 100%;
}
.main-main__container{
  width: 100%;
}
.main-main__map{
   width: 100%;
}
.main__map-svg{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#9b9999;
}
.main__map-svg path.Azerbaijan{
    fill :hsl(0, 100%, 50%);
}

.main-main__map{
    position: relative;
    display: grid;
    justify-items: center;
    row-gap: 2rem;
}


/* end map =========================================================== */

.footer{
    align-self: last baseline;
}

/* first stop */

@media screen and (min-width:320px) {
    
}


@media screen and (min-width:520px) {
    .main-section__container{
        /* position: relative; */
        padding-top: 2rem;
        display: grid;
        grid-template-areas: 'side header header'
                             'side main main'
                             'side main main';
        row-gap: 1rem;
        column-gap: 1rem;
    }
    .main-nav__toggle{
        display: none;
    }
    .main-nav-close{
        display: none;
    }
    .main-header{
        grid-area: header;
        width: 100%;
    }
    .main-main{
        grid-area: main;
        width: 100%;
    }
    .main-nav{
        position: static;
        background-color: var(--container-color);
        /* background-color:blueviolet; */
        grid-area: side;
     }
    
    .nav_blocks{
        position: static;
        height: 82vh;
        backdrop-filter: none;
        display: grid;
        row-gap: 1rem;
        
        align-content: first baseline;
        padding-inline:5px;
        padding-block: 1rem;
    }

    
}


@media screen and (min-width:720px) {
    
}


@media screen and (min-width:1020px) {
    
}